* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
  display: grid;
  place-items: center;
  height: 100vh;
}

body, button, input {
  font-family: 'DM Sans', sans-serif;
}

button {
  background-color: #7879F1;
  color: white;
  font-weight: bold;
  border-radius: 0 .25rem .25rem 0;
  cursor: pointer;
  transition: backgound .5s;
}
button:hover {
  background-color: #7878f1c4;
}

main {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 48px 64px 64px;
  width: min(428px, 90%);
  margin-top: -120px;
  text-align: center;
}

.hide {
  display: none;
}

/* Tela 01 */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h1, p {
  color: #34355B;
}

p {
  opacity: .8;
}

form {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

input, button {
  border: none;
  padding: 1rem;
}

input {
  background-color: #DCE2E9;
  width: 4.5rem;
  border-radius: .25rem 0 0 .25rem;
  text-align: center;
}


 /* Tela 2 */
h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 2.0625rem;
}

.tela2 button {
  border-radius: .25rem;
}