body {
    background-color: rgb(173, 203, 236);
}
  
section {
    background-color: #fc4b1a67; 
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

section + section {
    margin-top: 10px;
}

.container > div {
    background-color: royalblue;
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    transition: all 150ms ease;
}

.container > div:nth-child(even) {
    background-color: skyblue;
}
  
.container > div:hover {
    background-color: rgba(255, 255, 255, 0.4);
}


/* Basico */
.basico {
    display: grid;   
    
    grid-template-columns: 200px 200px 200px;
    /* grid-template-columns: 50% 200px 200px; */
    /* grid-template-rows: 200px 150px; */

    grid-auto-rows: 80px;

    /* column-gap: 10px;
    row-gap: 25px; */
    gap: 10px;
}

.repeat-minmax {
    display: grid;
    /* grid-template-columns: repeat(2, 200px) 50px; */
    grid-template-columns: repeat(2, 200px) minmax(50px, 250px);
    grid-auto-rows: 80px;
    gap: 10px;
}

.fr {
    display: grid;
    /* grid-template-columns: 1fr 2fr 3fr; */
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    gap: 10px;
}

.alinhamento {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: 200px;
    gap: 10px;
    /* align-items: start; */
    /* justify-items: end; */
    justify-content: space-evenly;
}

.alinhamento > div:nth-child(2) {
    background: rebeccapurple;
    align-self: end;
    justify-self: start;
}