body {
    background-color: rgb(173, 203, 236);
}
  
section {
    background-color: #fc4b1a67; 
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

section + section {
    margin-top: 10px;
}

.container > div {
    background-color: royalblue;
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    transition: all 150ms ease;
}

.container > div:nth-child(even) {
    background-color: skyblue;
}
  
.container > div:hover {
    background-color: rgba(255, 255, 255, 0.4);
}


/* Basico */
.basico {
    display: grid;   
    
    grid-template-columns: 200px 200px 200px;
    /* grid-template-columns: 50% 200px 200px; */
    /* grid-template-rows: 200px 150px; */

    grid-auto-rows: 80px;

    /* column-gap: 10px;
    row-gap: 25px; */
    gap: 10px;
}

/* Repeat minmax */
.repeat-minmax {
    display: grid;
    /* grid-template-columns: repeat(2, 200px) 50px; */
    grid-template-columns: repeat(2, 200px) minmax(50px, 250px);
    grid-auto-rows: 80px;
    gap: 10px;
}

/* FR */
.fr {
    display: grid;
    /* grid-template-columns: 1fr 2fr 3fr; */
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    gap: 10px;
}

/* Alinhamento */
.alinhamento {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: 200px;
    gap: 10px;
    /* align-items: start; */
    /* justify-items: end; */
    justify-content: space-evenly;
}

.alinhamento > div:nth-child(2) {
    background: rebeccapurple;
    align-self: end;
    justify-self: start;
}

/* Ocupando Espaços */
.ocupando-espacos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 1rem;
}

.ocupando-espacos >div:nth-child(1) {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1 / -1; */
    /* grid-column: 1 / span 2; */
    grid-column: 1 / 3;
}

/* Ocupando Espaços 02 */
.ocupando-espacos-02 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, minmax(100px, auto));
    gap: 1rem;
}

.ocupando-espacos-02 >div:nth-child(1) {
    grid-column: 1 / -1;
    height: 400px;
}

.ocupando-espacos-02 > div:nth-child(2) {
    grid-column: 1;
}

.ocupando-espacos-02 > div:nth-child(3) {
    grid-column: 2 / 5;
}

.ocupando-espacos-02 > div:nth-child(5) {
    grid-column: 1 / -1;
}


/* Ocupando Espaços 03 */
.ocupando-espacos-03 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(100px, auto));
    gap: 1rem;
}

.ocupando-espacos-03 >div:nth-child(1) {
    grid-column: 1 / -1;
    height: 400px;
}

.ocupando-espacos-03 > div:nth-child(2) {
    grid-column: 1;
}

.ocupando-espacos-03 > div:nth-child(5) {
    grid-column: 1 / -1;
}

@media(min-width: 768px) {
    .ocupando-espacos-03 {
        grid-template-columns: repeat(5, 1fr);
    }

    .ocupando-espacos-03 > div:nth-child(3) {
        grid-column: 2 / 5;
    }
}


/* SOBREPOSIÇÃO LINHAS */
.sobreposicao-linhas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 200px;
    gap: 10px
}

.sobreposicao-linhas > div:nth-child(1) {
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.sobreposicao-linhas > div:nth-child(2) {
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    z-index: 1;
}

.sobreposicao-linhas > div:nth-child(3) {
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 3 / 5;
    grid-column: 3 / 5;
}

.sobreposicao-linhas > div:nth-child(4) {
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 4 / 6;
    grid-column: 4 / 6;
}

.areas {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    gap: .5rem;
    
    grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer"
    ;
}

@media (min-width: 768px) {
    .areas {
        display: grid;
        /* grid-template-columns: repeat(auto-fill, 100px); */
        grid-template-columns: repeat(auto-fit, 100px);
        grid-auto-rows: 200px;
        gap: .5rem;
        
        grid-template-areas: 
            "header     header      header      header"
            "main       main        main        aside"
            "footer     footer      footer      footer"
        ;
    }
}

.areas > header {
    grid-area: header;
}

.areas > main {
    grid-area: main;
}

.areas > aside {
    grid-area: aside;
}

.areas > footer {
    grid-area: footer;
}


.areas > * {
    background-color: royalblue;
    padding: 1rem;
}

.areas > *:nth-child(even) {
    background-color: skyblue;
}


/* NOMES DE LINHAS */
.nomes-linhas {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    gap: .5rem;
}

@media (min-width: 768px) {
    .nomes-linhas {
        display: grid;
        grid-template-columns: [site-start] 1fr [content-start] repeat(4, 1fr) [site-end];
        grid-template-rows: [site-top site-init] 200px [content-top] 200px [content-bottom] 200px [site-bottom];
        gap: .5rem;
    }
}

.nomes-linhas > header,
.nomes-linhas > footer {
    /* grid-column: 1 / 6; */
    /* grid-column: site-start / site-end; */
    grid-column: site;
}

.nomes-linhas > main {
    /* grid-column-start: content-start; */
    grid-column: content;
}

.nomes-linhas > aside {
    grid-column: site-start / content-start;
    grid-row: content-top / content-bottom;
}

.nomes-linhas > * {
    background-color: royalblue;
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    transition: all 150ms ease;
}

.nomes-linhas > *:nth-child(even) {
    background-color: skyblue;
}
  
.nomes-linhas > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}


/* PRATICA 01 */
.pratica-01 {
    display: grid;
    gap: .5rem;

    grid-template-areas: 
        "header"
        "main"
        "sidebar"
        "aside-sec"
        "footer"
    ;

    grid-template-columns: 1fr;
    height: 100vh;
    margin: 0 auto;
    /* max-width: 1200px; */
}

@media (min-width: 48em) {
    .pratica-01 {
        grid-template-columns: 1fr repeat(4, minmax(auto, 200px)) 1fr;
        grid-template-rows: .5fr 2fr .5fr .5fr;

        grid-template-areas: 
            "header     header          header          header          header          header"
            ".          main            main            main            sidebar         ."
            ".          aside-main      aside-main      aside-sec       aside-sec       ."
            "footer     footer          footer          footer          footer          footer"
        ;
    }
}

.pratica-01 > .l-header {
    background: skyblue;
    grid-area: header;
}

.pratica-01 > .l-main {
    background-color: coral;
    grid-area: main;
}

.pratica-01 > .l-sidebar {
    background-color: royalblue;
    grid-area: sidebar;
}

.pratica-01 > .l-aside-main {
    background-color: rebeccapurple;
    grid-area: aside-main;
}

.pratica-01 > .l-aside-sec {
    background-color: rebeccapurple;
    grid-area: aside-sec;
}

.pratica-01 > .l-footer {
    background-color: skyblue;
    grid-area: footer;
}


/* PRÁTICA 02 */
@media (min-width: 48em) {
    .pratica-02 {
        display: grid;
        grid-auto-rows: 1fr;
        gap: .5rem;
        height: 100vh;
        grid-template-columns: [full-start] 1fr [container-start] repeat(6, 1fr) [container-end] 1fr [full-end];
    }
}

.pratica-02 > * {
    padding: 1rem;
    margin: .5rem 0;
}

@media (min-width: 48em) {
    .pratica-02 > * {
        grid-column: container;
        margin: .5rem 0;
    }
}

.pratica-02 > .l-header {
    background-color: skyblue;
    margin-top: 0;
}

.pratica-02 > .l-hero {
    background-color: mediumseagreen;
    height: 250px;
}

@media (min-width: 48em) {
    .pratica-02 > .l-highlights {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: 150px;
    }
}

.pratica-02 > .l-highlights {
    display: grid;
    gap: .5rem;
    padding: 0;
}

.pratica-02 > .l-highlights > .c-highlight {
    background-color: coral;
    min-height: 100px;
}

.pratica-02 > .l-main-content {
    background-color: royalblue;
}

.pratica-02 > .l-aside {
    background-color: goldenrod;
}

.pratica-02 > .l-footer {
    background-color: skyblue;
    margin-bottom: 0;
}

.pratica-02 > .u-grid-full {
    grid-column: full;
}

.pratica-02 > .u-expand-left {
    grid-column: full / container;
}