* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Roboto', sans-serif;
  --text-color: #303030;

  --hue: 194;
  --primary-color: hsl(var(--hue), 100%, 63%);
}

body {
  color: var(--text-color);
  background-color: rgb(250, 254, 255);
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 1.25rem;
  max-width: 500px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5625rem 0;
}

header h1 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: .25rem 0 0 .25rem;
  padding: 0 .5rem;
}

.search button {
  background-color: var(--primary-color);
  border-radius: 0 .25rem .25rem 0;
  height: 2rem;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
}

.search button:hover {
  --primary-color: #42d3ffc2;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 10px 20px -1px rgba(0, 0, 0, .2);
}

table * {
  font-size: .875rem;
  color: var(--text-color);
}

table th {
  background-color: var(--primary-color);
  text-align: left;
  font-weight: normal;
  padding: .9375rem;
}

table th:first-child {
  border-top-left-radius: .25rem;
}

table th:last-child {
  border-top-right-radius: .25rem;
}

table td {
  padding: .9375rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: .625rem;
}

/* pares */
table tr:nth-child(even) {
  background-color: #eee;
}

/* impares */
table tr:nth-child(odd) {
  background-color: #ddd;
}

table tr:hover {
  background-color: #ccc;
}

td.user img {
  width: 3.125rem;
  height: 3.125rem;
  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none ;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
}