body {
  background-color: rgb(173, 203, 236);
}

section {
  background-color: #fc4a1ad9;
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

section + section {
  margin-top: 20px;
}

.container > * {
  background-color: rgba(255,255,255,0.25);
  border-radius: 3px;
  border: 1px solid #fff;
  color: #fff;
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: all 150ms ease;
}

.container > *:hover {
  background-color: rgba(255, 255, 255, 0.4);
}


/* FLEX DIRECTION */
.flex-direction {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 56.25em) {
  .flex-direction {
    flex-direction: row;
  }
}


/* FLEX WRAP */
.flex-wrap {
  display: flex;
  border: 5px solid rgb(45, 248, 255);
  /* width: 500px; */
  flex-wrap: wrap-reverse;
}


/* FLEX FLOW */
.flex-flow {
  display: flex; 
  border: 5px solid rgb(45, 248, 255);
  flex-flow: row wrap;
}


/* JUSTIFY CONTENT */
.justify-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}


/* ALIGN ITEMS */
.align-items {
  display: flex;
  border: 5px solid #85f776;
  height: 300px;
  align-items: center;
}


/* ALIGN CONTENT */
.align-content {
  display: flex;
  width: 500px;
  height: 300px;
  border: 5px solid #fff;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-evenly;
}


/* ORDER */
.order {
  display: flex;
}
.order div:nth-child(1) {
  order: 4;
}

.order-ex {
  display: flex;
}
.order-ex div:nth-child(4) {
  order: -1;
}


/* align-self */
.align-self {
  display: flex;
  align-items: flex-start;
  border: 5px solid #fff;
  height: 350px;
  width: 500px;
}

.align-self div:nth-child(3) {
  align-self: flex-end;
}


/* FLEX FROW */
.flex-grow {
  display: flex;

  border: 5px solid #fff;
  width: 800px;
}

.flex-grow div {
  margin: 0;
  padding: 20px 0;
  width: 100px;
  flex-grow: 1;
}
.flex-grow div:nth-child(3) {
  flex-grow: 2;
}


/* FLEX SKRINK */
.flex-shrink {
  display: flex;
  border: 5px solid #fff;
  width: 400px;
}
.flex-shrink div{
  margin: 0;
  padding: 0px;
  width: 150px;
  flex-shrink: 1;
}
.flex-shrink div:nth-child(2) {
  flex-shrink: 3;
}


/* FLEX BASIS */
.flex-basis {
  display: flex;
  border: 5px solid #fff;
  /* width: 800px; */
}

.flex-basis div {
  margin: 0;
  padding: 20px 0;
  /* width: 200px; */
  /* flex-basis: 200px; */
  flex: 0 1 300px;
}



/* CENTRALIZAÇÃO VERTICAL */
.centralizacao-vertical {
  display: flex;
  height: 100vh;
  width: 100vw;

  align-items: center;
}

.box {
  width: 200px;
  height: 300px;
}


/* MULTIPLAS ALTURAS */
.multiplas-alturas {
  display: flex;
  justify-content: center;
}

.multiplas-alturas .card {
  width: 250px;
  padding: 0;
  text-align: left;
}

.multiplas-alturas .card .card_content {
  padding: 0 10px;
}


/* RODAPÉ FIXO */
.rodape-fixo {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.container > main{
  flex: 1;
  background-color: transparent;
  border: 0;
}


/* SANTO GRAAL */
.santo-graal {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.santo-graal > .content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* .santo-graal > .content > .sidebar {
  order: 1;
} */

.santo-graal > .content > .main {
  flex: 1;
}

.santo-graal > .content > .sidebar , .santo-graal > .content > .ads {
  flex-basis: 100px;
}

@media (min-width: 56.25em) {
  .santo-graal > .content {
    flex-direction: row;
  }
  .santo-graal > .container > .sidebar {
    order: -1;
  }
}


/* MENU RESPONSIVO */
.menu{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

  .menu-item {
    flex: 1 1 200px;
    margin: 5px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

    .menu-link {
      color: #fff;
      display: block;
      padding: 20px;
      text-decoration: none;
    }

@media (min-width: 53.125em) {
  .menu-item {
    flex-basis: 100px;
  }
}


/* WIDGET DE PREVISÃO DO TEMPO */
.weather {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather > div {
  margin: 10px 0;
}

.weather-period {
  flex: 1;
  font-size: 2rem;
  text-align: left;
}

.weather img {
  height: 50px;
  min-width: 20px;
  width: 50px;
}

.weather-min {
  font-weight: 700;
}

.weather-min::after {
  content: ' - ';
}

@media (min-width: 37.5em) {
  .weather {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .weather > div {
    margin: 0 50px;
  }
  .weather-period {
    font-size: 1.5rem;
    min-width: 50px;
    text-align: left;
  }
  .weather-minmax {
    display: flex;
    flex-direction: column;
  }
  .weather-min::after {
    content: '';
  }
}

@media (min-width: 56.25em) {
  .widget {
    display: flex;
    justify-content: center;
  }
  .weather {
    flex-basis: 100px;
    flex-direction: column;
  }
  .weather > div {
    margin: 10px 0;
  }
  .weather-period {
    flex-basis: 100px;
  }
}


/* ACCORDION DE IMAGENS */
.accordion-imagens {
  display: flex;
  height: 95vh;
}

.accordion {
  margin: 0;
  padding: 0;
  flex: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 600ms cubic-bezier(0.075, 0.82, 0.165,1);
}

.accordion:hover {
  flex-basis: 65vh;
}

.zombies {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.zombies:nth-child(2)
{
  align-self: stretch;
  flex-grow: 1;
}