body {
  background-color: rgb(173, 203, 236);
}

section {
  background-color: #fc4a1ad9;
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

section + section {
  margin-top: 20px;
}

.container > * {
  background-color: rgba(255,255,255,0.25);
  border-radius: 3px;
  border: 1px solid #fff;
  color: #fff;
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: all 150ms ease;
}

.container > *:hover {
  background-color: rgba(255, 255, 255, 0.4);
}


/* FLEX DIRECTION */
.flex-direction {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 56.25em) {
  .flex-direction {
    flex-direction: row;
  }
}


/* FLEX WRAP */
.flex-wrap {
  display: flex;
  border: 5px solid rgb(45, 248, 255);
  /* width: 500px; */
  flex-wrap: wrap-reverse;
}


/* FLEX FLOW */
.flex-flow {
  display: flex; 
  border: 5px solid rgb(45, 248, 255);
  flex-flow: row wrap;
}


/* JUSTIFY CONTENT */
.justify-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}


/* ALIGN ITEMS */
.align-items {
  display: flex;
  border: 5px solid #85f776;
  height: 300px;
  align-items: center;
}


/* ALIGN CONTENT */
.align-content {
  display: flex;
  width: 500px;
  height: 300px;
  border: 5px solid #fff;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
}


/* ORDER */
.order {
  display: flex;
}
.order div:nth-child(1) {
  order: 4;
}

.order-ex {
  display: flex;
}
.order-ex div:nth-child(4) {
  order: -1;
}


/* align-self */
.align-self {
  display: flex;
  align-items: flex-start;
  border: 5px solid #fff;
  height: 350px;
  width: 500px;
}

.align-self div:nth-child(3) {
  align-self: flex-end;
}


/* FLEX FROW */
.flex-grow {
  display: flex;

  border: 5px solid #fff;
  width: 800px;
}

.flex-grow div {
  margin: 0;
  padding: 20px 0;
  width: 100px;
  flex-grow: 1;
}
.flex-grow div:nth-child(3) {
  flex-grow: 2;
}


/* FLEX SKRINK */
.flex-shrink {
  display: flex;
  border: 5px solid #fff;
  width: 400px;
}
.flex-shrink div{
  margin: 0;
  padding: 0px;
  width: 150px;
  flex-shrink: 1;
}
.flex-shrink div:nth-child(2) {
  flex-shrink: 3;
}


/* FLEX BASIS */
.flex-basis {
  display: flex;
  border: 5px solid #fff;
  /* width: 800px; */
}

.flex-basis div {
  margin: 0;
  padding: 20px 0;
  /* width: 200px; */
  /* flex-basis: 200px; */
  flex: 0 1 300px;
}



/* CENTRALIZAÇÃO VERTICAL */
.centralizacao-vertical {
  display: flex;
  height: 100vh;
  width: 100vw;

  align-items: center;
}

.box {
  width: 200px;
  height: 300px;
}


/* MULTIPLAS ALTURAS */
.multiplas-alturas {
  display: flex;
  justify-content: center;
}

.multiplas-alturas .card {
  width: 250px;
  padding: 0;
  text-align: left;
}

.multiplas-alturas .card .card_content {
  padding: 0 10px;
}